<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de notícias</title>
		</head>
	<body>

		<h1>Bem vindo à página inicial</h1>
		<br />
		<ul>
			<li><a href="/formulario_inclusao_noticia">Adicionar notícia</a></li>
			<li><a href="/noticias">Noticías</a></li>
			<li><a href="/noticia">Detalhes notícia</a></li>
		</ul>
	</body>
</html>
